.mobile-header {
    width: 100%;
    height: 7.5vh;

    display: flex;
    justify-content: flex-end;

    background-color: black;
    color: white;

    font-family: 'Clash Grotesk Semibold';
}

@media (min-width: 800px) {
    .mobile-header {
        display: none;
    }
}